// Proprietà generali
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: crimson;
}
ul{
    list-style-type: none;
}
@mixin centering{
    padding: 30px 10%;
}

// Proprità header
header{
    @include centering;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: 0 0 3px dodgerblue, 0 0 3px greenyellow, 0 0 3px dodgerblue ;
    ul.nav {
        display: flex;
        flex-wrap: wrap;
        li{
            flex-basis: 200px;
            h2{
                font-size: 25px;
                &.shadow2{
                    text-shadow: 0 0 3px red, 0 0 3px yellow, 0 0 3px yellow;
                }
            }
        }
    }
}
